﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FrontMaster.cshtml";
}
<style>
    .boxlink {
        margin-top: 35px;
        background: #f3f2f2;
        border-radius: 3px;
        box-shadow: 0px 0px 4px #ccc;
        width: 90%;
        margin-left: 15px;
        padding: 4px;
        text-align: center;
        margin-bottom: 15px;
    }
    .hdeing {
        text-align: center;
        font-size: 22px;
        text-shadow: 0px 0px 2px #00000014;
        font-family: sans-serif;
        color: #000;
    }
</style>
<div class="container">
    <div class="row">
        <h3 class="hdeing">Welcome To Richa World Trevels</h3>
        
        <a href="/Home/ReportPannel">
            <div class="col-sm-12  col-xs-12 boxlink">
                <div class="col-sm-4 col-xs-4">
                    <img src="~/Content/report-icon.png" class="img-responsive" style="height:65px;" />
                </div>
                <div class="col-sm-8 col-xs-8" style="margin-top: 5px;font-size: 17px;font-family: sans-serif;">
                    <p>BOOKING REPORT</p>
                </div>
            </div>
        </a>
    </div>
</div>
