﻿
@{
    ViewBag.Title = "ReportPannel";
    Layout = "~/Views/Shared/_FrontMaster.cshtml";
}
<style>
    .norecord {
        border: 1px solid #000;
        background: #fff;
        padding: 6px;
        text-align: center;
    }

    .boxfilter {
        padding: 5px;
        border: 1px solid #ccc;
        background: #fff;
    }

    .boxdetails {
        border: 1px solid #ccc;
        margin-top: 5px;
        background: #fff;
        padding: 6px;
    }

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #11ace6;
    }

        .tab button {
            color: #fff;
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 14px;
        }

            .tab button:hover {
                /*background-color: #ddd;*/
                color: #000;
            }

            .tab button.active {
                background-color: #11ace6;
                color: #fff;
            }

    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    .logo {
        width: 35%;
        border-radius: 50%;
        border: 1px solid #000 !important;
    }
</style>
<link href="~/Content/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'Sales')"><span class="fa fa-hand-o-right"></span> Todays Sale </button>
                <button class="tablinks" onclick="openTab(event, 'Agent')"><span class="fa fa-hand-o-right"></span> Top 10 Agent</button>
                <button class="tablinks" onclick="openTab(event, 'Airlines')"><span class="fa fa-hand-o-right"></span> Top 10 Airlines</button>
                <button class="tablinks" onclick="openTab(event, 'Sector')"><span class="fa fa-hand-o-right"></span> Top 10 Sector</button>
                <button class="tablinks" onclick="openTab(event, 'OTPHIS')"><span class="fa fa-hand-o-right"></span> OTP History</button>
            </div>
            <div id="Sales" class="tabcontent" style="display:block">
                <div class="col-sm-12">
                    <div class="row boxfilter">
                        <div class="col-sm-4 col-xs-6">
                            <label style="font-size: 12px;">From Date</label>
                            <input type="text" class="form-control CommanDate" id="FromDate" name="FromDate" placeholder="dd/mm/yyyy" />
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <label style="font-size: 12px;">To Date</label>
                            <input type="text" class="form-control CommanDate" id="ToDate" name="Todate" placeholder="dd/mm/yyyy" />
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="row">
                                <div class="col-sm-6 col-xs-6">
                                    <input type="submit" class="btn btn-primary form-control" id="btnSalesSearch" style="margin-top:24px;" value="Search" onclick="SearchSalesReport();" />
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <input type="submit" class="btn btn-warning form-control" id="btnSalesReset" style="margin-top:24px;" value="Reset" onclick="ResetSalesRecord();" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row boxdetails">
                        <div class="col-sm-12">
                            <div class="row" style="border: 1px solid #000;border-bottom: 0px;">
                                <div class="col-sm-4 col-xs-4">
                                    <label style="font-size:12px;">Airline</label>
                                </div>
                                <div class="col-sm-4  col-xs-4" style="border-left: 1px solid #000;">
                                    <label style="font-size:12px;">ID</label>
                                </div>
                                <div class="col-sm-4  col-xs-4" style="border-left: 1px solid #000;">
                                    <label style="font-size:12px;">Total</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div id="BindSalesSection"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="Agent" class="tabcontent">
                <div class="col-sm-12">

                    <div class="row boxdetails">
                        <div class="col-sm-12">
                            <div class="row" style="border: 1px solid #000;border-bottom: 0px;">
                                <div class="col-sm-4 col-xs-4">
                                    <label style="font-size:12px;">Agent</label>
                                </div>
                                <div class="col-sm-4  col-xs-4" style="border-left: 1px solid #000;">
                                    <label style="font-size:12px;">Ticket</label>
                                </div>
                                <div class="col-sm-4  col-xs-4" style="border-left: 1px solid #000;">
                                    <label style="font-size:12px;">Total</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div id="BindAgentSection"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="Airlines" class="tabcontent">
                <div class="col-sm-12">
                    <div class="row boxdetails">
                        <div class="col-sm-12">
                            <div class="row" style="border: 1px solid #000;border-bottom: 0px;">
                                <div class="col-sm-4 col-xs-4">
                                    <label style="font-size:12px;">Airline</label>
                                </div>
                                <div class="col-sm-4  col-xs-4" style="border-left: 1px solid #000;">
                                    <label style="font-size:12px;">Ticket</label>
                                </div>
                                <div class="col-sm-4  col-xs-4" style="border-left: 1px solid #000;">
                                    <label style="font-size:12px;">Total</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div id="BindAirlinesSection"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="Sector" class="tabcontent">
                <div class="col-sm-12">
                    <div class="row boxdetails">
                        <div class="col-sm-12">
                            <div class="row" style="border: 1px solid #000;border-bottom: 0px;">
                                <div class="col-sm-4 col-xs-4">
                                    <label style="font-size:12px;">Sector</label>
                                </div>
                                <div class="col-sm-4  col-xs-4" style="border-left: 1px solid #000;">
                                    <label style="font-size:12px;">Ticket</label>
                                </div>
                                <div class="col-sm-4  col-xs-4" style="border-left: 1px solid #000;">
                                    <label style="font-size:12px;">Total</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div id="BindSecotrSection"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="OTPHIS" class="tabcontent">
                <div class="col-sm-12">
                    <div class="row boxfilter">
                        <div class="col-sm-6 col-xs-6">
                            <label style="font-size: 12px;">AgencyID</label>
                            <input type="text" class="form-control" id="Agencyid" name="Agencyid" placeholder="Enter AgencyId.." />
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <input type="submit" class="btn btn-primary form-control" id="btnOTPSearch" style="margin-top:24px;" value="Search" onclick="SearchOTPReport();" />
                        </div>
                    </div>              
                <div class="row boxdetails">
                    <div class="col-sm-12">
                        <div class="row" style="border: 1px solid #000;border-bottom: 0px;">
                            <div class="col-sm-2 col-xs-2">
                                <label style="font-size:11px;">OTP</label>
                            </div>
                            <div class="col-sm-2  col-xs-2" style="border-left: 1px solid #000;">
                                <label style="font-size:10px;margin-left: -11px;">Amount</label>
                            </div>
                            <div class="col-sm-3  col-xs-3" style="border-left: 1px solid #000;">
                                <label style="font-size:10px;">AgentID</label>
                            </div>
                            <div class="col-sm-5  col-xs-5" style="border-left: 1px solid #000;">
                                <label style="font-size:10px;">Agent Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div id="BindOTPSection"></div>
                    </div>
                </div>
				  </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/reportpanel.js?v=1"></script>
<script>
    $('.CommanDate').datepicker({
        dateFormat: "mm/dd/yy",
        showStatus: true,
        showWeeks: true,
        currentText: 'Now',
        autoSize: true,
        maxDate: -0,
        gotoCurrent: true,
        showAnim: 'blind',
        highlightWeek: true

    });

</script>
