﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
	<meta name="theme-color" content="#2196f3" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/HeaderMenu.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="manifest" href="/manifest.json" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <!--This code is property of Conor McNamara-->
    <!--https://codepen.io/conorjmcnamara/-->

    <div>
        <div class="test">
            
            <div class="mobile-bar">               
            </div>

            @*<header class="header">               
            </header>*@

            <a class="navbar-brand" href="/Home/Index" style="padding:0px;">
                <img src="~/Content/logo_new.png" />                
            </a>

        </div>
    </div>
    <div style="margin-top: 80px;">
        @RenderBody()
     
    </div>
    <script>
       

        //window.onscroll = function () { myFunction() };

        //var navbar = document.getElementById("navbar");
        //var sticky = navbar.offsetTop;

        //function myFunction() {
        //    if (window.pageYOffset >= sticky) {
        //        navbar.classList.add("sticky")
        //    } else {
        //        navbar.classList.remove("sticky");
        //    }
        //}
    </script>
	
	<script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('/serviceworker.js')
                .then(function () { console.log('Service Worker Registered'); });
        }
    </script>
</body>

</html>
